@import url('https://fonts.googleapis.com/css?family=Lato:300');

// Colors
$theme-color: #7B1FA2;
$primary-color: #2c3e50;
$secondary-color: #bababa;
$tertiary-color: #f9fafb;
$text-color: #9E9E9E;

// Fonts
$primary-font: 'Lato', sans-serif;