@import "main.scss";

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }

#about-wrapper {
    font-family: $primary-font;
    color: $primary-color;
    padding: 100px 10px 0 10px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: .64s;
}

.headshot-container {
    display: flex;
    justify-content: center;
}

.headshot {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    box-shadow: 0 0 1em $text-color;
}

.bio {
    display: flex;
    flex-direction: column;

    .developer-name {
        font-size: 34px;
        margin-top: 30px;
    }

    p {
        font-size: 18px;
        margin-top: 30px;
    }
}

.social-links {
    margin-top: 30px;

    .fa-linkedin, .fa-github {
        padding-right: 16px;
        color: $theme-color;
    }
}

.technology {
    padding-top: 50px;
    text-align: center;
    font-family: $primary-font;

    .lead-text {
        margin-bottom: 30px;
        font-size: 34px;
    }
}

.react-logo,
.redux-logo,
.node-logo,
.html5-logo,
.css3-logo,
.sass-logo,
.postgresql-logo,
.php-logo,
.laravel-logo,
.angular-logo {
    padding: 15px 15px;
    height: 58px;
    width: 58px;
}

.tech-by-name {
    text-align: center;
}