@import "main.scss";

#about-wrapper {
    font-family: $primary-font;
    color: $primary-color;
    padding: 100px 10px 100px 10px;
    background-color: #f9fafb;    
}

.about {
    height: 100%;
    margin: 50px auto;
    padding: 30px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 0px #ccc;
    -moz-box-shadow: 0px 0px 1px 0px #ccc;
    box-shadow: 0px 0px 1px 0px #ccc;
    border-radius: 1px;

    .headshot-container {
        display: flex;
        justify-content: center;
    }
    
    .headshot {
        height: 250px;
        width: 250px;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);    }
    
    .bio {
        display: flex;
        flex-direction: column;
    
        .developer-name {
            font-size: 34px;
            margin-top: 30px;
        }
    
        p {
            font-size: 18px;
            margin-top: 10px;
        }
        .navigation-btn {
            align-self: center;
            margin-top: 30px;
            button {
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                padding: 12px 28px;
                background-color: #fff;
                color: $theme-color;
                border: 2px solid $theme-color;
                font-size: 16px;
                font-family: sans-serif;
                width: fit-content;
                text-align: center;
                outline: none;
                cursor: pointer;
            }
            button:hover {
                background-color: $theme-color;
                color: #fff;
            }
        }
    }
    
    .social-links {
        margin-top: 10px;
    
        .fa-linkedin, .fa-github {
            margin-right: 16px;
            color: $theme-color;
        }
    }
}



.technology {
    padding-top: 50px;
    text-align: center;
    font-family: $primary-font;
    height: 100%;
    margin: 50px auto;
    padding: 30px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 0px #ccc;
    -moz-box-shadow: 0px 0px 1px 0px #ccc;
    box-shadow: 0px 0px 1px 0px #ccc;
    border-radius: 1px;
    // -webkit-animation-name: fadeIn;
    // animation-name: fadeIn;
    // -webkit-animation-duration: 1s;
    // animation-duration: 3s;

    .lead-text {
        margin-bottom: 30px;
        font-size: 34px;
        text-align: center;
    }
    .skills-column {
        float: left;
        width: 25%;
    }

    .skills-grid:after {
        content: "";
        display: table;
        clear: both;
    }
    .react-logo,
    .redux-logo,
    .node-logo,
    .html5-logo,
    .css3-logo,
    .sass-logo,
    .postgresql-logo,
    .php-logo,
    .laravel-logo,
    .angular-logo {
        margin: 1rem 0;
        height: 58px;
        width: 58px;
    }
    li {
        display: block;
        text-decoration: none;
    }
}

@media screen and (min-width: 1024px) {
    #about-wrapper {
        background-color: #f9fafb;
        .about {
            // margin-bottom: 3.5rem;
            height: 40vh;
            width: 60%;
            margin: 0 auto;
            padding: 60px;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 1px 0px #ccc;
            -moz-box-shadow: 0px 0px 1px 0px #ccc;
            box-shadow: 0px 0px 1px 0px #ccc;
            border-radius: 1px;
            .headshot-container {
                display: inline-block;
                margin-left: 3.5rem;
            }
            .bio {
                // margin: 2em 0 0 0;
                // margin-top: 2.5em;
                width: 50%;
                // margin-right: 3.5rem;
                float: right;
                span {
                    padding-left: 1px;
                }
                .social-links {
                    margin-top: 10px;
                    padding-left: 1px;
                }
                p {
                    margin-top: 10px;
                    padding-left: 1px;
                }
                .navigation-btn {
                    align-self: left;
                }              
            } 
        }

        .technology {
            height: 40vh;
            width: 60%;
            margin: 50px auto;
            padding: 60px;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 1px 0px #ccc;
            -moz-box-shadow: 0px 0px 1px 0px #ccc;
            box-shadow: 0px 0px 1px 0px #ccc;
            border-radius: 1px;

            .react-logo,
            .redux-logo,
            .node-logo,
            .html5-logo,
            .css3-logo,
            .sass-logo,
            .postgresql-logo,
            .php-logo,
            .laravel-logo,
            .angular-logo {
                margin: 1rem 0;
                height: 90px;
                width: 90px;
            }
        }
    }
}