@import "main.scss";

// @-webkit-keyframes fadeIn {
//     0% {opacity: 0;}
//     100% {opacity: 1;}
//     }
//     @keyframes fadeIn {
//     0% {opacity: 0;}
//     100% {opacity: 1;}
//     }

#contact-wrapper {
    // -webkit-animation-name: fadeIn;
    // animation-name: fadeIn;
    // -webkit-animation-duration: 1s;
    // animation-duration: .64s;
    padding: 50px 0;
    color: $text-color;
    font-family: $primary-font;
}

.view-title {
    background-color: #f9fafb;
    padding: 43px 0;
    border-bottom: 1px solid #ecf0f1;
    margin-bottom: 50px 0;    
    
    h1 {
        margin-left: 10px;
        font-size: 34px;
        color: $primary-color;
    }
}


.contact-para {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    word-break: wrap;
    padding: 30px 10px 0 10px;
    color: $primary-color;
    font-weight: 700;
    p {
        font-size: 1em;
        font-weight: 900;
        margin: 0 15px;
        color: $primary-color;
        line-height: 130%;  
        .fa-external-link {
            margin-left: 5px;
            color: $primary-color;
        }
    }
}

.post-message {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 0 10px;
    color: $theme-color;
        input {
            border: 1px solid $secondary-color;
            margin: 10px 0 30px 0;
            padding: 12px 0;
            outline: none;
            background-color: #f9fafb;
            border-radius: 4px;    
        }
        textarea {
            margin-top: 8px;
            background-color: #f9fafb;
            border-radius: 1px;
            resize: vertical; 
        }
        .send-message {
            padding: 10px 0 0 0;
            button {
                width: 100px;
                height: 50px;
                font-size: 12px;
                background-color: $theme-color;
                color: #fff;
                cursor: pointer;
                outline: none;
            }
        
            button:hover {
                opacity: 0.8;
                transition: .64s;
            }
        }
}

#write-message {
    border: 1px solid $secondary-color;
    outline: none;
    font-size: 12px;
}

@media(min-width: 1024px) {
    #contact-wrapper {
       
        .view-title {
            padding-left: 26px;
        }
        .post-message {
            width: 70%;
            margin: 0 auto;
            input{
            width: 100%;
            }
            textarea{
                width: 100%;
            }
            .send-message {
                padding: 10px 0 0 0;
            }
        }
        .contact-para {
            width: 50%;
            margin: 0 auto;
            word-break: break-word;
            font-family: $primary-font;       
            p {
                font-size: 1em;
                font-weight: 900;
                color: $primary-color;
                line-height: 130%;

                .fa-external-link {
                    margin-left: 5px;
                    text-decoration: none;
                    color: $primary-color;

                    &:hover {
                        cursor: pointer;
                        color: $theme-color;
                    }
                }
            }
        }
    }
}