@import "main.scss";

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }

#contact-wrapper {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: .64s;
    padding: 50px 0;
    color: $text-color;
    font-family: $primary-font;
}

.view-title {
    background-color: #f9fafb;
    padding: 43px 0;
    border-bottom: 1px solid #ecf0f1;
    margin-bottom: 50px 0;    
    
    h1 {
        margin-left: 10px;
        font-size: 34px;
        color: $primary-color;
    }
}


.contact-para {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    word-break: wrap;
    padding: 30px 10px 0 10px;
    color: $primary-color;
    font-weight: 700;

    .fa-angle-right {
        margin-left: 8px;
        color: $primary-color;
    }
}

.post-message {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 0 10px;
    // width: 70%;
    
    input {
        border: 1px solid $secondary-color;
        margin: 8px 0;
        padding: 12px 0;
        outline: none;
        font-size: 12px;    
    }
}

#write-message {
    border: 1px solid $secondary-color;
    outline: none;
    font-size: 12px;
}

.send-message {
    padding: 8px 0 0 10px;

    button {
        width: 100px;
        height: 50px;
        font-size: 12px;
        background-color: $theme-color;
        color: #fff;
        cursor: pointer;
        outline: none;
    }

    button:hover {
        opacity: 0.8;
        transition: .64s;
    }
  }

@media(min-width: 1024px) {

    .view-title {
        padding-left: 26px;
    }

    .post-message {
        display: inline-block;
        padding-left: 30px; 
        input{
           width: 50vw;
        }
        textarea{
            width: 50vw;
        }
    }

    .send-message {
        padding-left: 30px;
    }

    .contact-para {
        position: absolute;
        top: 28%;
        left: 60%;
        width: 32vw;
        padding: 60px 0;
        background: #f9fafb;
        word-break: break-word;
        // box-shadow: 0 0 1em 0 $text-color;
        border: 1px solid #ecf0f1;        
        font-family: $primary-font;       

        p {
            font-size: 2em;
            font-weight: 900;
            margin: 0 15px;
            color: $primary-color;
            line-height: 130%;

            .fa-angle-right {
                margin-left: 12px;
                text-decoration: none;
                color: $primary-color;

                &:hover {
                    cursor: pointer;
                    color: $theme-color;
                }
            }
        }
    }
}