@import "main.scss";

.nav {
    position: fixed; 
    overflow: hidden;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3em;
    background-color: #fff;
    box-shadow: 0 0 10px 0 $text-color;
    font-family: $primary-font;
    font-size: 18px;

    .fa-bars, .brand {
        color: $text-color;
        margin: 0 1em;
    }

    a {
        text-decoration: none;
        color: $text-color;
    }
}

@media(min-width: 1024px) {
    .nav {
        
        .brand {
            a:hover {
                border-bottom: 2px solid $theme-color;
            }
        }

        .nav-links {
            display: inline-block;
            span {
                margin: 0 1em;
            }
            span:hover {
                border-bottom: 2px solid $theme-color;
            }
        }
    }
}