@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #9E9E9E;
  font-family: "Lato", sans-serif;
  font-size: 18px; }
  .nav .fa-bars, .nav .brand {
    color: #9E9E9E;
    margin: 0 1em; }
  .nav a {
    text-decoration: none;
    color: #9E9E9E; }

@media (min-width: 1024px) {
  .nav {
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 999; }
    .nav .brand a:hover {
      border-bottom: 2px solid #7B1FA2; }
    .nav .nav-links {
      display: inline-block; }
      .nav .nav-links span {
        margin: 0 1em; }
      .nav .nav-links span:hover {
        border-bottom: 2px solid #7B1FA2; } }
